* {
    box-sizing: border-box;
}


@font-face {
    font-family: "--regular";
    src: url("../fonts/nssans-regular.woff2");
}

@font-face {
    font-family: "--bold";
    src: url("../fonts/nssans-bold.woff2");
}

@font-face {
    font-family: "--bolditalic";
    src: url("../fonts/nssans-bolditalic.woff2");
}

@font-face {
    font-family: "--demi";
    src: url("../fonts/nssans-demi.woff2");
}

@font-face {
    font-family: "--italic";
    src: url("../fonts/nssans-italic.woff2");
}


:root {
    --textcolor-default:#070721;
    --colorbackground-primary: #ffc917;
    --colorbackground-default: white;
    --colorbackground-secondary: #E6E6E9;
    --color-button-hover: #0063D3;
    --color-button-primary: #0079d3;
    --colortext: #0063D3;
    --colortext-light: #00010d8a;
    --colortext-emphasis: #003082;
    --colortext-white: white;
    --colortext-secondary: #6a6a7a;
}


body {
    font-size: 1em;
    font-family: "--regular";
    /* background-color: var(--background-color1); */
    color: var(--textcolor-default);
}

header {
    padding: 1em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .03), 0 10px 20px rgba(0, 0, 0, .04);
    font-family: "--bold";
      &:hover {
    background-color:#ffc917;
    transition: 1s;
    }
}


header svg {
    fill:#003082;
    transition: 0.5s;
}

form {
    color: var(--colortext-secondarylight);
}


fieldset {
    display: grid;
    gap: 0.5em;
}

fieldset fieldset legend {
    padding-top:2em;
}

fieldset fieldset {
    padding-top:1em;
}


#gegevens-overledene {
    padding: 1em 0 1em;
    font-size: 1.5em;
    font-family: "--bold";
    color: var(--colortext-emphasis);
  border-bottom: 4px solid #ffc917;


    &:hover {
    transition: 0.5s;
    color:#ffc917;
    }
}

#vulgegevensin{
    font-family: "--demi";
    color: #404144;
}



legend {
    font-family: "--demi";
    color: #404144;
}



#overlijdensdatum {
    font-family: "--bold";
    color: var(--colortext-emphasis);
}



 #protocolnummer {
    padding-top: 2em;
}


label {
    color: var(--colortext-emphasis);
    font-family: "--bold";
}



input {
    padding: 1em;
    border-radius: 0.5em;
    border: 2px solid #d8d8d9;
    max-width: 50em;
}



input[type="text"]:user-valid {
    border: 2px solid #00a888;
    background:#f3f3f3;
} 



input[type="text"]:user-invalid {
    border: 2px solid #db0029;
} 



input[type="number"]:user-valid {
    border: 2px solid #00a888;
    background:#f3f3f3;

} 

input[type="number"]:user-invalid {
    border: 2px solid #db0029;
} 



input[type="date"]:user-valid {
    border: 2px solid #00a888;
    background:#f3f3f3;
} 



input[type="date"]:user-invalid {
    border: 2px solid #db0029;
} 




input[type="radio"]:user-invalid {
    border: 2px solid #db0029;
} 



input[type="radio"] {
   width: 20px;
  height: 20px;
  border-radius: 100%;
  accent-color:#00a888 ;
} 


input[type="radio"]:checked {
   width: 20px;
  height: 20px;
  accent-color:#00a888 ;
} 

button {
    font-family: "--demi";
    font-size: 1em;
    cursor: pointer;
    display: grid;
    justify-self: center;
    background-color: var(--color-button-primary);
    border: 2px;
    padding: 0.5em;
    border-radius: 0.3em;
    color: white;

    &:hover{
        background-color: var(--color-button-hover);
    }

}

fieldset {
    border: none;
}

/* 
#gegevens:has(input:valid) {
    background-color: #00a8893a;
    border-radius: 1em;
    padding-block:2em;
    border: 3px solid #00a888;
} */

#notaris:has(#nee7:checked) + #protocolnummer {
  display: none;
}